  body, p, h1, h2, h3, ul {
    margin: 0;
    padding: 0; 
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  input, button{
    border: none;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  /* подключаем шрифты */
  @font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;  
  }
  
  @font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;  
  }
  
  /* формируем область шапки*/
  .header {
    min-width: 100%;  
    padding-bottom: 145px;
    background-image: url(../images/banner-bg.jpg);
    background-size: cover;
    display: flex;
    position: relative; 
    z-index: 1;
    justify-content: center;  
  }
  
  /* добавляем полупрозрачный слой к шапке */
  .header::after { 
    content: "";
    width: 100%; 
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000000;   
    position: absolute;
    z-index: 2;
    opacity: 0.6;  
  }
  
  /*слой, объединяющий лого, меню, интро*/
  .header-elements {
    display: flex;
    width: 1200px;
    box-sizing: border-box;  
    padding: 35px 15px; 
    position: relative;  
    z-index: 3; 
    flex-direction: column;
  }
  
  /*слой, объединяющий лого, меню  */
  .logo_menu {
    display: flex;
    justify-content: space-between;
    position: relative;  
    align-items: center;
  }
  
  /* добавляем лого */
  .logo {
    width: 180px; 
  }
  
  /* выравниваем элементы меню по горизонтали */
  .header_menu_list {
    display: flex;
    position: relative;  
    padding: 0;
    gap: 35px;  
  }
  
  /* выстраиваем элементы списка меню горизонтально */
  .header_menu_list_item {
    display: inline;  
  }
  
  /* задаём стили для текста пунктов меню в шапке*/
  .header_menu_list_item_link {
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Open Sans";  
    font-weight: 400;
  }
  
  /* задаём стили для текста пунктов меню в шапке при наведении*/
  .header_menu_list_item_link:hover {
    text-decoration: underline;    
  }

  .burger {
    width: 23px;
    height: 23px;
    display: none;
    cursor: pointer;
  }
  
  /* добавляем интро, не ограничен по вертикали */
  .intro {
    max-width: 679px;
    margin: 120px auto 0 auto;  
    text-align: center;
    font-size: 45px;
    line-height: 1.67;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 700;  
  }
  
  /* задаём ширину блока main-aside */
  .main-aside {
    max-width: 1170px;
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    gap: 5%;
  }
  
  /* задаём ширину блока main */
  .main {
    width: 67%;
    max-width: 780px;
  }
  
  /* блок для картинки и поста */
  .main_post {  
    display: flex; 
    gap: 30px;
    margin-bottom: 55px;
  }
  
  /* блок-контейнер для картинки */
  
  .main_post_image-area {
    max-width: 378px;
    background-color: #eff6f1; 
    
  }
  /* помещаем картинку в блок, растягиваем по блоку без искажения пропорций */
  .main_post_image {   
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  /* блок для поста */
  .main_post_textarea {
    max-width: 367px;
  }
  
  /* контейнер для категорий */
  .main_post_textarea_category {
    padding-top: 2px;
  }
  
  /* категории */
  .main_post_textarea_category_item {
    display: inline;
    margin-right: 20px; 
    font-size: 14px;  
    text-transform: uppercase;
    color: #b59f5b;  
    font-family: "Open Sans";
    font-weight: 700;  
  }
  
  /* наведение на категории */
  .main_post_textarea_category_item:hover {
    text-decoration: underline;
  }
  
  /* заголовок */
  .main_post_textarea_title {
    display: block;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 15px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-family: "Open Sans";
    font-weight: 700;  
  }
  
  /* навелись на заголовок */
  .main_post_textarea_title:hover {
    color: #b59f5b;
  }
  
  /* контейнер для дата, автор */
  .main_post_textarea_date-author {
    display: flex;
    position: relative;
    margin-top: 20px;  
  }
  
  /* форматируем дату */
  .main_post_textarea_date {
    vertical-align: top;
    margin-right: 15px;
    font-size: 12px;  
    color: #888888;
    font-family: "Open Sans";
    font-weight: 400;
  }
  
  /* форматируем автора */
  .main_post_textarea_author {  
    vertical-align: top;
    font-size: 12px;  
    color: #000000;
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
  }
  
  /* форматируем текст */
  .main_post_textarea_text {
    margin-top: 15px;
    font-size: 15px;
    line-height: 1.5;
    color: #0f0d0e;
    font-weight: 400;
    font-family: "Open Sans"; 
  }
  
  /* у первого абзаца padding больше, чем у остальных */
  .main_post_textarea_text:first-of-type {
    margin-top: 50px; 
  }
  
  .aside {
    max-width: 270px;
  }
  
  
  .aside_title {
    text-align: center;
    font-size: 14px; 
    text-transform: uppercase;
    color: #0f0d0e;
    font-family: "Open Sans";
    font-weight: 700;  
  }
  
  .aside_title::after {
    content:"";
    opacity: 0.4;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    display: block;
    margin: 13px auto 15px auto;  
  }
  
  .aside_latest-posts_list_item {
    display: flex; 
    margin-bottom: 20px;  
  } 
  
  .aside_latest-posts_list_item:last-of-type {
    margin-bottom: 0;
  }  
  
  .aside_latest-posts_list_item_image-area {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    background-color: #f4f7f6;; 
  }
  
  /* помещаем картинку в блок, растягиваем по блоку без искажения пропорций */
  .aside_latest-posts_list_item_image {     
    width: 100%;
    height: 100%;  
    object-fit: cover;	
    vertical-align: top; 
  }
  
  .aside_latest-posts_list_item_date-text {
    width: 180px;
    
  }
  
  .aside_latest-posts_list_item_date {
    display: block;
    margin-bottom: 4px;
    opacity: 0.541;
    font-size: 12px;  
    color: #000000;
    font-family: "Open Sans";
    font-weight: 400;
  }
  
  .aside_latest-posts_list_item_text {
    font-size: 14px;
    line-height: 1.28;
    text-transform: uppercase;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 700;  
  }
  
  .aside_latest-posts_list_item_text:hover {
    color: #b59f5b;  
  }
  
  .search {
    display: flex;
    position: relative;  
    height: 48px;
    margin-top: 60px; 
  }
  
  /* блок Найти */
  .input_area { 
    width: 220px; 
    height: 100%;
    background-color: #f4f7f6;
    opacity: 0.541;
    font-size: 13px;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 400;
    padding: 0 18px 0 18px;
    border: 1px solid rgba(0, 0, 0, 0);
   }
  
  /* блок Найти при попадании в фокус */
  
  .input_area:focus {    
    border: 1px solid #b59f5b;
    outline: none;  
  }
  
  .search_btn { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px; 
    height: 48px;
    background:  #b59f5b url(../svg/search.svg)  no-repeat center/40%;
  }
  
  .search-btn-image {
    width: 50%; 
  }
  
  /*блок подписаться*/
  .subscribe {
    margin-top: 60px;  
  }
  
  .subscribe_input {
    display: block;
    width: 100%;
    height: 48px;
    padding: 0 18px 0 18px;
    background-color: #f4f7f6;
    opacity: 0.541;
    font-size: 13px;  
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
  }
  
  .subscribe_input:focus {    
    border: 1px solid #b59f5b;
    outline: none;
    opacity: 0.541;
  }
  
  .subscribe_input_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    margin-top: 20px;
    background-color: #b59f5b;  
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
  }
  .subscribe_input_btn:hover {
    background-color: #323232;
  }
  
  /*блок Теги*/
  .tags {
    margin-top: 60px;
  }
  .tags_box {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .tags_box_tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px 0 15px;  
    font-size: 12px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
    height: 30px;
    background-color: rgba(244,243,241,0);
    border: 3px solid #eeeeee;  
  }
  
  .tags_box_tag:hover {
    border: 3px solid #b59f5b;
  }
  
  /*Категории*/
  .categories {
    margin-top: 60px;
  }
  
  .categories_box {
    display: block;  
  }
  
  .categories_box_category {
    height: 50px;
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
    border-bottom: 1px solid #eeeeee;
    padding: 15px 0 15px 0;
    box-sizing: border-box;
  }
  
  .categories_box_category:hover {
    color: #b59f5b;
  }
  
  .categories_box_category-number {
    font-size: 12px;
    color: #b59f5b;
    font-weight: 700;
    font-family: "Open Sans";
    position: relative;
    left: 3px;
    top: -3px;  
  }
  
  /*Подвал*/
  .footer {
    display: block;  
    max-width: 1170px;
    margin: auto;
  }
  
  .footer_icons {    
    background-color: #f4f7f6;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .footer_iconsarea {
    display: flex;  
    justify-content: center;
    margin: auto;
    gap: 30px;
  }
  
  .footer_iconsarea_icon_a{
    display: block;
    width: 20px;
    height: 20px;
    
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .footer_iconsarea_icon_a_dribbble{ 
    background-image: url("../svg/001-dribbble.svg");  
  }
  
  .footer_iconsarea_icon_a_pinterest{
    background-image: url("../svg/002-pinterest.svg");
  }
  
  .footer_iconsarea_icon_a_tumblr{
    background-image: url("../svg/003-tumblr.svg");
  }
  
  .copyrights {
    width: 100%;
    margin: 70px auto 40px auto;
    text-align: center;
    font-size: 12px;  
    color: #999999;
    font-weight: 700;
    font-family: "Open Sans";
  }
  
  .visually-hidden {
    position: absolute;
    width: 0px;
    height: 0px;
    margin: -1px;
    padding: 0;
    border: 0;  
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 

  /*доработка диплом адаптивня вёрстка*/
  .trends {
    display: flex;
    max-width: 1660px;
    margin: auto;    
    align-items: center;
    flex-direction: column;
  }

  .trends-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
    margin-top: 65px;
  }

  .trends-title::after {
    content:"";
    opacity: 0.4;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    display: block;
    margin: 13px auto 30px auto;     
  }
  
  .trends-area {
    display: grid;
    grid-template-columns: repeat(4,minmax(180px,1fr));
    gap: 5px;
  }
  
  /* блок-контейнер для картинки */
  .trends-item {
    display: flex;
    position: relative;   
    align-items: flex-end;
    min-height: 320px;    
  }  

  .trends-item1{
    background: #eff6f1 url("../images/trend1.jpg") no-repeat center/cover;
  }

  .trends-item2{
    background: #eff6f1 url("../images/trend2.jpg") no-repeat center/cover;
  }
  
  .trends-item3{
    background: #eff6f1 url("../images/trend3.jpg") no-repeat center/cover;
  }
  
  .trends-item4{
    background: #eff6f1 url("../images/trend4.jpg") no-repeat center/cover;
  } 

 

  /* добавляем полупрозрачный слой */
  .trends-item::after{ 
    content: "";    
    width: 100%; 
    height: 100%;    
    background-color: #000000;   
    position: absolute;    
    z-index: 2;
    opacity: 0.6;  
  }

  /* область рамка-категория-название*/
  .trends-item-bordersarea {
    display: flex;    
    width: calc(100% - 40px);    
    border: 3px solid #b59f5b;
    margin: 20px 20px 20px 20px;
    position: relative;    
    z-index: 3;    
    flex-direction: column;    
  }
  
  /* выравниваем элементы меню по горизонтали ul*/
  .trends-item-categorieslist{
    display: flex; 
    position: relative;
    padding: 40px 30px 15px 30px;
    gap: 20px; 
    flex-wrap: wrap;         
  }

   /* выстраиваем элементы списка меню горизонтально li*/
  .trends-item-categorieslist > li{
    display: inline;  
  }

  .trends-item-category {
    font-size: 14px;    
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
    font-family: "Open Sans";
    line-height: 0.4;
  }

  .trends-item-category:hover{
    text-decoration: underline;
  }

  .trends-item-title {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    padding: 0 30px 40px 30px;    
    overflow-wrap: break-word;
  }

  .trends-item-title:hover{
    color: #b59f5b;
  }  
  
   

  .shop {
    display: flex;
    max-width: 1170px;   
    margin: auto;       
    flex-direction: column;
    position: relative;    
  }

   .shop-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
    padding-top: 10px;
    align-self: center;
  }

  .shop-title::after {
    content:"";
    opacity: 0.4;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    display: block;
    margin: 13px auto 30px auto; 
  }      

  .shop-area {
    display: grid;
    grid-template-columns:repeat(3,minmax(230px, 1fr));
    gap: 4%;
    padding-bottom: 65px;
  }

  .shop-item {
    width: 100%;
    display: flex;
    flex-direction: column;    
  }

  .shop-image {  
    width: 100%;      
    object-fit: cover;
    padding: 0 29px 0px 29px;
    box-sizing: border-box;
  }

  .shop-item-card {
    display: flex;    
    border: 3px solid #b59f5b;    
    margin-top: -30px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    flex-direction: column; 
    flex-grow: 1;   
  }

  .shop-card-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
    padding: 50px 20px 0; 
  }

  .shop-card-text {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: "Open Sans";
    padding: 10px 20px 5px; 
  }

  .shop-card-linkword {
    color:  #b59f5b;
  }

  .shop-card-linkword:hover {
    text-decoration: underline;
  }

  .shop-card-pricelink {
    width: 100%;
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
    padding: 20px 20px 30px; 
    box-sizing: border-box;
  }

  .shop-card-price {    
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";   
  }

  .shop-oldprice {
    font-size: 14px;    
    text-decoration: line-through;
    margin-bottom: -5px;    
  }

  .shop-price {
    font-size: 20px;    
  }

  .shop-card-link {
    display: flex;
    min-width: 140px;
    min-height: 48px;
    background-color: #b59f5b;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    align-items: center;
    justify-content: center;    
  }

  .shop-card-link:hover {
    background-color: #323232;
  }  

  .popup {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);    
    top: 0;
    left: 0;
    z-index: 3;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
  }

  .popup-area {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 390px;    
    background-color: #ffffff;    
  }

  .popup-title{
    font-size: 20px;    
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";    
    padding-top: 50px; 
    text-align: center;    
  }

  .popup-title::after {
    content:"";
    opacity: 0.4;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    display: block;
    margin: 13px auto 30px auto; 
  }      

  .popup-label{
    display: block;     
    margin: 30px 30px 10px 30px;
  }

  .popup-select {
    width: 330px;
    height: 48px;
    padding-left: 20px; 
    margin-top: 10px;   
    font-size: 13px;
    color: rgba(0, 0, 0, 0.541);
    font-weight: 400;
    font-family: "Open Sans";  
    border: 1px solid #f4f7f6;  
    outline: none;    
    background: #f4f7f6 url("../svg/form-arrows.svg") no-repeat right 15px center / 10px;    
  }  

  .popup-select:focus {
    border: 1px solid #b59f5b;    
  } 

  .popup-input {
    margin-left: 35px;    
  }
  
  .popup-input-item {
    display: none;
  }

  .popup-input-text::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    outline: 1px solid #b59f5b;
    outline-offset: 2px;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 50%;    
  }

  .popup-input-item:checked + .popup-input-text::before{
    width: 12px;
    height: 12px;
    background-color: #b59f5b;  
  }

  .input-radio-no {
    padding-left: 15px;
  }

  .popup-textarea {
    margin: 0 30px 25px 30px ;
    resize: none;   
    padding: 16px 0 0 20px;     
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-family: "Open Sans";
    background-color: #f4f7f6;
    border: 1px solid #f4f7f6;  
    outline: none;          
  }  
  .popup-textarea:focus {
    border: 1px solid #b59f5b;    
  } 
  
  .popup-btn {
    width: 330px;
    height: 48px;
    background-color: #b59f5b;
    font-size: 14px;    
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    margin: 0 30px 50px 30px;
  }

  .popup-btn:hover{
    background-color: #323232;
  }

  .popup-cross {
    display: flex;
    width: 18px;
    height: 18px;
    position: absolute;
    top: -28px;
    right: 0;
    cursor: pointer;
  }

  ._hidden{
    display: none;
  }

  @media (max-width: 768px) {
    .logo_menu {
      max-width: 698px;       
    }

    .logo {
      width: 160px;
      padding-left: 20px;
    }

    .burger {
      display: block;
      padding-right: 20px;
    }

    .header_menu_list {
      display: none;
    }

    .intro {
      font-size: 40px;
      line-height: 1.375;
    }

    .header {
      background-image: url(../images/banner-bg-tablet.jpg)
    }

    .trends-title {
      font-size: 18px;      
      margin-top: 50px;
    }
    
    .trends-area {      
      grid-template-columns: repeat(2,minmax(180px,1fr));
      grid-template-rows: repeat(2);
      gap: 3px;      
    }
    
    .trends-item-title {
      font-size: 17px;
    }
    
    .main {           
      width: 58%;
    }  

    .main-aside {
      max-width: 698px;
      margin-top: 47px;
      margin-left: 3%;
      margin-right: 3%;

    }  
    
    .main_post {
      flex-direction: column;
      gap: 13px;
      padding-bottom: 20px;
      border-bottom: 3px solid #eeeeee;
      margin-bottom: 40px;
    }

    .main_post:nth-child(7){
      border-bottom: none;
    }

    .main_post_image-area {
      max-width: 390px;
    }
    
    .main_post_textarea_title {      
      font-size: 17px;
    }

    .main_post_textarea_date-author {
      margin-top: 33px;
    }  

    .main_post_textarea_text:first-of-type {
      margin-top: 40px;
    }   

    .aside_latest-posts_list_item_date-text {
      display: flex;
      flex-direction: column;
      max-width: 180px;
      min-width: 100px;
      
    }

    .shop-area {      
      grid-template-columns:repeat(2,minmax(230px, 1fr)); 
      grid-template-rows:repeat(2);      
    }
  
  }

  @media (max-width: 768px) and (orientation: landscape){
    .trends-area {      
      grid-template-columns: repeat(4,minmax(180px,1fr));           
    }

  }


  @media (max-width: 360px) {
    .burger {      
      padding-right: 0;
    }

    .intro{
      font-size: 26px;
      line-height: 1.385;
    }

    .header {
      background-image: url(../images/banner-mobile.jpg)
    }
    
    .trends-title {
      font-size: 16px;      
      margin-top: 45px;
    }

    .trends-area {            
      grid-template-columns: minmax(180px,1fr);
      grid-template-rows: repeat(4);      
    }

    .trends-item-title {
      font-size: 16px;
    }

    .main_post_image-area {
      max-width: 328px;
    } 

    .main_post_textarea_title {      
      font-size: 16px;
    }

    .main_post_textarea_text {      
      font-size: 14px;
  }

  @media (max-width: 360px) and (orientation: landscape){
    .trends-area {      
      grid-template-columns: repeat(2,minmax(180px,1fr)); 
      grid-template-rows: repeat(2);          
    }
  }

}

  

  
  
  















  